[submodule "dbmodel"]
	path = dbmodel
	url = https://github.com/Giswater/giswater_dbmodel.git
[submodule "libs"]
	path = libs
	url = https://github.com/giswater/libs.git
[submodule "dependencies/swmm_api"]
	path = dependencies/swmm_api
	url = https://gitlab.com/markuspichler/swmm_api.git
